In [2]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cdist

In [8]:
example_path = 'https://raw.githubusercontent.com/hkaneko1985/ensemble_outlier_sample_detection/0583863a8381dcde5562197e2398d906c313256f/numerical_simulation_data.csv'

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
sample_1,4.862230,-0.008829,0.020603,0.012806,0.022196,0.014404,0.000542,-0.017258,0.035589,0.002711,-0.005959
sample_2,4.979903,0.054267,-0.011827,0.024182,0.010591,0.043688,0.028225,-0.026693,0.002172,0.036835,-0.030305
sample_3,5.068076,0.007996,0.085998,0.083851,0.068907,0.046763,0.029664,0.023624,0.026716,0.005059,0.018760
sample_4,5.166788,0.007808,0.058072,0.071922,0.075210,0.070864,0.041052,0.031952,0.061823,0.032988,-0.028616
sample_5,5.374128,0.025469,0.069069,0.039437,0.035413,0.026697,0.018137,0.024466,0.064571,0.043171,0.033427