In [93]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cdist
from sklearn.model_selection import cross_val_predict, KFold
from sklearn.ensemble import RandomForestRegressor

In [94]:
example_path = 'https://raw.githubusercontent.com/hkaneko1985/ensemble_outlier_sample_detection/0583863a8381dcde5562197e2398d906c313256f/numerical_simulation_data.csv'
df = pd.read_csv(example_path, index_col = 0)
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [96]:
kf = KFold(n_splits = 5)
for i_train, i_test in kf.split(X, y):
    X.iloc[i_train]

In [101]:
np.random.randint(0, 100, (100))

array([59, 11, 95, 74, 57, 40,  8, 93,  5, 34, 87, 30, 61, 64, 75, 23, 70,
       34, 12, 70,  7, 37, 67, 39, 38, 85, 37, 39, 67,  3, 42, 90, 51, 61,
       81, 90, 24, 84, 39, 91, 59, 92,  3, 25,  9, 66,  4,  1,  9, 91, 91,
        9, 36, 88, 90, 11, 66, 32, 96, 85, 26, 47, 89, 41, 10, 31, 93, 89,
       54, 79, 74, 14,  1, 90,  9, 10,  5, 61,  4, 62, 30, 55,  0, 66, 97,
       63, 91, 32, 82, 36, 91,  7, 24, 32, 43, 42,  2, 87, 10, 41])

In [104]:
pd.DataFrame(X.values)

,0,1,2,3,4,5,6,7,8,9
0,-0.008829,0.020603,0.012806,0.022196,0.014404,0.000542,-0.017258,0.035589,0.002711,-0.005959
1,0.054267,-0.011827,0.024182,0.010591,0.043688,0.028225,-0.026693,0.002172,0.036835,-0.030305
2,0.007996,0.085998,0.083851,0.068907,0.046763,0.029664,0.023624,0.026716,0.005059,0.018760
3,0.007808,0.058072,0.071922,0.075210,0.070864,0.041052,0.031952,0.061823,0.032988,-0.028616
4,0.025469,0.069069,0.039437,0.035413,0.026697,0.018137,0.024466,0.064571,0.043171,0.033427
...,...,...,...,...,...,...,...,...,...,...
95,0.943091,0.963324,0.963913,0.934964,0.970763,0.978685,0.974191,0.940894,0.958329,0.920229
96,0.970527,0.978096,0.938993,0.944283,0.933441,0.975828,1.005572,0.935919,0.964841,0.994837
97,1.023366,1.001819,0.975138,0.944514,0.986466,0.979158,0.975585,0.991778,1.022992,1.000944
98,0.977676,0.982450,0.976571,0.984614,0.978016,0.961211,1.014340,1.006280,0.993815,1.010682
99,1.048920,0.999246,0.963342,0.950085,0.970505,1.057547,0.998073,1.022156,0.998490,1.018696

In [108]:
import optuna
def objective(trial):
    x = trial.suggest_int('x', 1, 3)
    return x
study = optuna.create_study()
study.optimize(objective, n_trials = 3)

[I 2021-01-11 01:27:48,589] A new study created in memory with name: no-name-e764ba03-d09d-4121-94ad-1ae9af981733
[I 2021-01-11 01:27:48,591] Trial 0 finished with value: 2.0 and parameters: {'x': 2}. Best is trial 0 with value: 2.0.
[I 2021-01-11 01:27:48,592] Trial 1 finished with value: 1.0 and parameters: {'x': 1}. Best is trial 1 with value: 1.0.
[I 2021-01-11 01:27:48,594] Trial 2 finished with value: 3.0 and parameters: {'x': 3}. Best is trial 1 with value: 1.0.

In [109]:
x = pd.Series(np.arange(3))

0    0
1    1
2    2
dtype: int64